# Shelly-Ann Duncan
# 11/13/22
# Database Admin with Python

# Import necessary libraries

In [10]:
# imports
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

In [11]:
# create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
connection_str = "mysql+pymysql://root:root@localhost/new_db"

# Create engine

In [12]:
# engine
engine = create_engine(connection_str)
engine

Engine(mysql+pymysql://root:***@localhost/new_db)

# Create a new database

In [ ]:
# create database
create_database(connection_str)

In [16]:
# verify database was created
database_exists(connection_str)

True

In [15]:
# Check if the database exists. If not, create it.
if database_exists(connection_str) == False:
  create_database(connection_str)
else:
  print('The database already exists')

The database already exists

In [17]:
# additional imports
import pandas as pd

In [20]:
# load data
df = pd.read_csv('data/Tshirt.csv')
df.head()

  Size  Color  Cost Sold
0    S   Blue  5.00    Y
1    M    Red  7.49    Y
2    M  Green  8.00    N
3   XL  Green  4.00    N
4    L    Red  9.99    Y

In [21]:
# add this table to the database
df.to_sql('tshirts', engine, if_exists = 'replace')

9

In [22]:
# define sql query and read it in
q = """SELECT * FROM tshirts LIMIT 5;"""
pd.read_sql(q, engine)

   index Size  Color  Cost Sold
0      0    S   Blue  5.00    Y
1      1    M    Red  7.49    Y
2      2    M  Green  8.00    N
3      3   XL  Green  4.00    N
4      4    L    Red  9.99    Y

In [23]:
# see all of the tables that exist in our current database
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

  Tables_in_new_db
0          tshirts